body{
    background-color: #c2e2e5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.attribution{
    margin: auto;
    width: fit-content;
}

#principal{
    box-shadow: 0px 0px 8px 0px #eef8fc;
    border-radius: 10px;
    margin: auto;
    margin-top: 10%;
    width: 1000px;
    height: 400px;
    background-color: #f3f8fa;
}

#conteudoEsquerda{
    border-radius: 5px;
    float: left;
    width: 460px;
    height: 360px;
    margin: 20px;
    background-color: #d6f2ff;
}
/*Estilo do topo do conteudo da esquerda*/
    .valorGorgeta{
        margin-bottom: -30px;
        width: 460px;
        height: 100px;
    }

    .valorGorgeta p{
        color: #00474b;
        margin-left: 20px;
        font-size: 20px;
    }

    #valorAtual{
        border-radius: 3px;
        text-align: right;
        border: 0;
        margin-left: 20px;
        margin-top: -10px;
        padding: 5px;
        font-size: 30px;
        height: 35px;
        width: 410px;
        box-shadow: none;
    }

    #valorAtual:focus{
        outline: none !important;
        border: 0.5px solid #00474b;
    }

/*Estilo do meio do conteudo da esquerda*/

    .selecaoValor{
        width: 460px;
        height: 150px;
        margin-bottom: 20px;
    }

    .selecaoValor p{
        color: #00474b;
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .botao{
        text-align: center;
        width: 124px;
        margin-left: 20px;
        margin-top: 5px;
        height: 50px;
        border-radius: 3px;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.8);
        border: none;
        background-color: #00474b;
        transition: 0.5s;
    }
    .botao:hover{
        color: #00474b;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .custom{
        font-size: 20px;
        text-align: center;
        width: 116px;
        margin-left: 20px;
        height: 44px;
        
    }

    .hidden{
        cursor: pointer;
        border: none;
        background-color: #00474b;
        color: rgba(255, 255, 255, 0.8);
        border-radius: 3px;
        margin-left: 317px;
        width: 124px;
        visibility: hidden;
        transition: visibility 2s linear 300ms, opacity 100ms;
        transition: 0.5s;
    }
    .hidden:hover{
        color: #00474b;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .custom:focus + .hidden{
        visibility: visible;
    }

/*Estilo do final do conteudo da esquerda*/
    .quantidadePessoas{
        width: 460px;
        height: 80px;
    }
    .quantidadePessoas p{
        float: left;
        color: #00474b;
        margin-left: 20px;
        vertical-align: middle;
        margin-bottom: 10px;
        font-size: 20px;
    }

    #qtdPessoas{
        font-size: 30px;
        height: 50px;
        width: 50px;
        margin-bottom: 20px;
        margin-right: 20px;
        float: right;
    }

#conteudoDireita{
    border-radius: 5px;
    float: left;
    width: 460px;
    height: 360px;
    margin: 20px;
    background-color: #00474b;
}
    .quantidadePPessoa{
        float: left;
        font-size: 25px;
        margin-top: 20px;
        margin-left: 20px;
        color: #ffff;
        height: 100px;
        width: 460px;
    } 

    .TText{
        color: rgba(255, 255, 255, 0.8);
        margin-top: -5px;
        font-size: 10px;
    }

    .BText{
        color: #27c2ac;
        margin-top: -15px;
        font-size: 40px;
    }

    #valorPorPessoaFinal{
        color: #27c2ac;
        font-size: 40px;
        margin-top: -95px;
        margin-right: 40px;
        float: right;
    }

    .valorTotal{
        float: left;
        font-size: 25px;
        margin-top: 10px;
        margin-left: 20px;
        color: #ffff;
        height: 140px;
        width: 460px;
    }

    #valorTotal{
        color: #27c2ac;
        font-size: 40px;
        margin-top: -95px;
        margin-right: 40px;
        float: right;
    }

    .limpar{
        float: left;
        width: 460px;
        height: 80px;
    }
    .limpar input{
        font-size: 20px;
        cursor: pointer;
        border-radius: 3px;
        border: none;
        color: rgba(7,73,79,0.8);
        background-color: #27c2ac;
        padding: 10px 80px;
        margin-left: 80px;
        margin-top: 5px;
        transition: 0.5s;
    }
    
    .limpar input:hover{
        color: rgba(7,73,79,1);
    }

    @media only screen and (max-width: 400px) {
        body {
            background-color: #c2e2e5;
        }
        .hidden{
            width: 80px;
            margin-left: 230px;
        }
        #principal{
            box-shadow: 0px 0px 8px 0px #eef8fc;
            border-radius: 10px;
            margin: auto;
            margin-top: 10%;
            width: 350px;
            height: 800px;
            background-color: #f3f8fa;
        }
        #conteudoEsquerda{
            border-radius: 5px;
            float: left;
            width: 330px;
            height: 360px;
            margin: 10px;
            background-color: #d6f2ff;
        }
        .valorGorgeta{
            margin-bottom: -30px;
            width: 330px;
            height: 100px;
        }

        #valorAtual{
            border-radius: 3px;
            text-align: right;
            border: 0;
            margin-left: 20px;
            margin-top: -10px;
            padding: 5px;
            font-size: 30px;
            height: 35px;
            width: 280px;
            box-shadow: none;
        }
        .botao{
            text-align: center;
            width: 80px;
            margin-left: 20px;
            margin-top: 5px;
            height: 50px;
            border-radius: 3px;
            cursor: pointer;
            font-weight: bold;
            font-size: 20px;
            color: rgba(255, 255, 255, 0.8);
            border: none;
            background-color: #00474b;
            transition: 0.5s;
        }
        .botao:hover{
            color: #00474b;
            background-color: rgba(255, 255, 255, 0.8);
        }

        .selecaoValor{
            width: 330px;
            height: 150px;
            margin-bottom: 20px;
        }
        .custom{
            width: 73px;
        }
        #conteudoDireita{
            margin: 10px;
            width: 330px;
        }
        .quantidadePessoas{
            width: 330px;
        }
        .quantidadePPessoa{
            width: 330px;
        }
        #qtdPessoas{
            float: left;
            margin-left: 50px;
        }
        #valorPorPessoaFinal{
            margin-right: 170px;
        }
        #valorTotal{
            margin-right: 170px;
        }
        .limpar{
            width: 330px;
        }
        .limpar input{
            padding: 10px 10px;
            width: 180px;
            text-align: center;
            font-size: 20px;
        }
        .attribution{
            visibility: hidden;
            margin: auto;
            width: fit-content;
        }
        .valorTotal{
            width: 330px;
        }
      }